@import url(./mode.css);
@import url(../login.css);
@import url(../navbar.css);
@import url(../../../node_modules/font-awesome/css/font-awesome.css); 
:root{
    --first:white;
    --second:blueviolet;
    --third:black;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
    
}
.all{
    background-color: var(--first);
    height: 100vh;
    padding-top: 20px;
}
.titre h1{
    
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 650;
    color: var(--third);
    cursor: pointer;
    
}
.titre h1 span{
    color: var(--second);
}

.input_div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input_div .input{
    padding: 18px;
    height: 15px;
    width: 300px;
    outline: none;
    border: 3px solid var(--second);
    border-radius: 25px;
    font-size: large;
    background-color: transparent; 
    color: var(--third);  
}
.input_div .add_button{
    margin: 15px;
    padding: 10px 15px;
    background-color: var(--second);
    color: white;
    text-decoration: none;
    font-size: large;
    border-radius: 10px;
    transition: all 1s;
    border: none;
}
.input_div .add_button:hover{
    opacity: 0.8;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.item{
    padding: 0.5rem;
    margin-bottom: 1.5rem; 
    width: 100%;
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task {
    flex: 1;
    display: flex;
    align-items: center;
}
.item li{
    list-style-type: none;
    display: flex;
}
.item .point{
    color: var(--second);
    cursor: pointer;
    font-size: 25px;
    transition: all 1s;
}
.item_input{
    background: none;
    outline: none;
    border: none;
    width: 250px;
    padding-left: 4px;
    padding-bottom: 3px;
    font-size: 24px;
    border-bottom: none;
    transition: all 0.09s;
    color: var(--third);
}
.active{
    background: none;
    outline: none;
    border: none;
    width: 250px;
    padding-left: 4px;
    padding-bottom: 3px;
    font-size: 24px;
    border-bottom: 2px solid var(--second); 
    
}
.clear_div{
    float: left;
    position: relative;
    width: 100px;
    height: 50px;
    padding: 10px;
}
.clear{
    position: absolute;
    top: -1px;;
    left: -5px;
    margin: 5px;
    padding: 7px 12px;
    text-decoration: none;
    font-size: large;
    width: 100px;
    background-color: var(--first);
    border: 4px solid var(--second);
    border-radius: 10px;
    cursor: pointer;
    color: var(--third);    
}

.item .Edit_button{
    margin-left: 10px;
    padding: 10px 15px;
    background-color: var(--second);
    color: white;
    text-decoration: none;
    font-size: large;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
    /* float: left; */
}
.item .Edit_button:hover,#bout:hover{
    opacity: 0.8;
}
.item .remove_button{
    margin: 5px;
    padding: 7px 12px;
    text-decoration: none;
    font-size: large;
    background-color: var(--first);
    border: 4px solid var(--second);
    border-radius: 10px;
    cursor: pointer;
    color: var(--third);
    float: left;
}

.clear:hover,.remove_button:hover{
    background-color: var(--second);
    transition: .4s;

}


.dark_theme{
    --first:rgb(26, 26, 26);
    --second:hsl(271, 50%, 53%);
    --third:white;
    transition: 1s;

}


.list-item{
    display: flex;
    align-items: center;
}
  
  .form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.3em;
    vertical-align: top;
    background-color: #f8fafc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
  }
  .form-check-input[type=checkbox] {
    border-radius: 0.25em;
  }
  .form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  }
  
.list-item #check{
    font-size: large;
    background-color: var(--second);
    color: var(--first);
    border: 1px solid var(--second);
    box-shadow: none;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 12px;
}
