.container{
    margin: 0;
    padding: 0;
    /* background-color: rgb(243, 243, 243); */
    /* height: 100vh; */
}
.card{
    background-color: var(--first);
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    /* border: 3.5px solid var(--second); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    justify-content: center;
    
}
.card-header{
    text-align: center;
    padding-top: 20px;
    font-size: 60px;
    margin: 40px;
    padding-bottom: 20px;
    font-weight: 650;
    color: var(--third);
    cursor: pointer;
    border: none;
    box-shadow: none;
    color: var(--third);
    text-decoration: underline var(--second) 8px;
    
    
}
.card-body{
    display: flex;
    justify-content: center;
    text-align: center;
}
#email,#password,#name,#password-confirm{
    padding: 18px;
    height: 15px;
    width: 300px;
    outline: none;
    border: 3px solid var(--second);
    border-radius: 25px;
    font-size: large;
    background-color: transparent; 
    color: var(--third);
    margin-bottom: 20px; 
}
#label{
    color: var(--third);
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin-left: 20px;
    margin-bottom: 1vh;
    margin-top: 1vh;
    
}
.form-check{
    /* margin-right: -120px; */
    float: right;
    font-size: 17px;
    margin-top: 4.5vh;
    margin-bottom: 3vh;
    
}
.form-check-label{
    margin-left: 5px;
}
#log-bout{
    margin-top: 20px;
    margin-right: 78px;
    padding: 13px 18px;
    margin-bottom: 37px;
    background-color: var(--second);
    color: white;
    text-decoration: none;
    font-size: large;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
}
#bout{
    margin-left: 10px;
    padding: 13px 18px;
    background-color: var(--second);
    color: white;
    text-decoration: none;
    font-size: large;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
    float: right;
    margin-bottom: 50px;
}
#forgot{
    margin-bottom: 70px;
    display: block;
    
}

